body{
  min-height: 100vh;
  background: radial-gradient(#1b2a4b , #0f1539);
}
#game-logo{
  width: 100px;
  max-width: 100px;
  margin: 7px 0;
  padding: 0;
}
.game-items{
  border-radius: 5px;
  margin: 10px;
  max-width: 55%;
  position: relative;
}
#user-score .bg-white{
  max-width: max-content;
  color: #0f1539;
  position: absolute;
  right: 0;
  padding: 0px 15px;
  margin: 0 25px;
  border-radius: 2.5px;
}
#score{
  font-size: 32px;
}
.paper__ .btn{
  border: 18px #516cf1 solid ;
  border-radius: 50%;
  box-shadow: #2945c3 0px 10px 0;
}
.scissors__ .btn{
  border: 18px #eba624 solid ;
  border-radius: 50%;
  box-shadow: #c86c1f 0px 10px 0;
}
.rock__ .btn {
  border: 18px #dc3f5a solid ;
  border-radius: 50%;
  box-shadow: #9d1634 0px 10px 0;
}
.game-main-btn{
  max-height: 100vh;
  height: 50vh;
}
.game-main-btn div{
  text-align: center;
}
.game-main-btn .btn img{
  padding: 30px;
}
.game-main-btn div{
  z-index: 2;
  position: relative;
}
.rock__ .btn img{
  padding: 33px 30px;
}
.game-main-btn .btn{
  transition: 0.25s;
}
.game-main-btn .btn:focus{
  transform:translateY(3px);
  box-shadow: none;
}
.pic-txt{
  color: #fff;
  text-align: center;
  font-size: x-large;
  margin: 60px 0 0 0;
  padding: 2px;
  max-width: 168px;
}
#user__{
  padding: 0px 190px 0 0;
}
#com__{
  padding: 0 0 0 190px;
}
.info{
  transform: translateY(50%);
}
#info{
  border-radius: 5px;
}
#play-again{
  padding: 10px;
  outline: none;
  border:none;
  border-radius: 5px;
  transition: 0.25s ease-in-out;
}
#play-again:hover{
  transform: scale(120%);
}
@media (max-width: 576px){
  #show-selected-btns{
    top: 30%;
  }
  .row{
    margin: 50% 0;
    transform: translateY(25%);
  }
  .game-items{
    max-width: 100%;
  }
  .game-main-btn .btn img{
    padding: 10px;
  }
  .rock__ .btn img{
    padding: 15px 10px;
  }
  #user__,
  #com__ {
    padding: 10px 0 80px 0;
  }
  .info {
    transform: translateY(25%);
  }
}